@forward '../dist/tokens/rotom';
@forward '../dist/tokens/rotom-dark';
@forward '../dist/tokens/smeargle';
@forward '../dist/tokens/smeargle-dark';
@forward '../src/stylesheets/styles';
@use '../src/stylesheets/utils/text';

body {
  @include text.body-2;
}
