# OS

.DS_store

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/*.code-workspace

# Misc
.angular
.turbo
.tanstack
coverage
dist
node_modules
*storybook.log
storybook-static
**/.storybook/documentation.json
**/tests/**/report
**/tests/**/results
__screenshots__
.eslintcache
**/gen
