# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/*.code-workspace

# Misc
.angular
.turbo
coverage
dist
node_modules
*storybook.log
storybook-static
**/.storybook/documentation.json
__screenshots__
.eslintcache
**/src/gen
