@use '../functions';

/* TODO: convert to css vars */

// ======== Base ========
$font-size-1: functions.px-to-rem(10px);
$font-size-2: functions.px-to-rem(11px);
$font-size-3: functions.px-to-rem(12px);
$font-size-4: functions.px-to-rem(14px);
$font-size-5: functions.px-to-rem(16px);
$font-size-6: functions.px-to-rem(20px);
$font-size-7: functions.px-to-rem(23px);
$font-size-8: functions.px-to-rem(26px);
$font-size-9: functions.px-to-rem(29px);
$font-size-10: functions.px-to-rem(33px);
$font-size-11: functions.px-to-rem(37px);
$font-size-12: functions.px-to-rem(42px);
$font-size-13: functions.px-to-rem(47px);
$font-size-14: functions.px-to-rem(53px);
$font-size-15: functions.px-to-rem(59px);

$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-strong: 600;

/* stylelint-disable-next-line value-keyword-case */
$font-family-base: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji';

$spacing-1: functions.px-to-rem(2px);
$spacing-2: functions.px-to-rem(4px);
$spacing-3: functions.px-to-rem(8px);
$spacing-4: functions.px-to-rem(12px);
$spacing-5: functions.px-to-rem(16px);
$spacing-6: functions.px-to-rem(20px);
$spacing-7: functions.px-to-rem(24px);
$spacing-8: functions.px-to-rem(28px);
$spacing-9: functions.px-to-rem(32px);
$spacing-10: functions.px-to-rem(36px);
$spacing-11: functions.px-to-rem(40px);
$spacing-12: functions.px-to-rem(44px);
$spacing-13: functions.px-to-rem(48px);
$spacing-14: functions.px-to-rem(52px);
$spacing-15: functions.px-to-rem(56px);
$spacing-16: functions.px-to-rem(60px);
$spacing-17: functions.px-to-rem(64px);
$spacing-18: functions.px-to-rem(68px);
$spacing-19: functions.px-to-rem(72px);

$elevation-shadow-1: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2))
  drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
$elevation-shadow-2: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2))
  drop-shadow(0 2px 2px rgba(0, 0, 0, 0.16));
$elevation-shadow-3: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2))
  drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0 4px 4px rgba(0, 0, 0, 0.12));
$elevation-shadow-4: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2))
  drop-shadow(0 4px 4px rgba(0, 0, 0, 0.12)) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.12));
$elevation-shadow-5: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2))
  drop-shadow(0 4px 4px rgba(0, 0, 0, 0.1)) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.1))
  drop-shadow(0 12px 16px rgba(0, 0, 0, 0.1));
$elevation-shadow-6: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2))
  drop-shadow(0 8px 8px rgba(0, 0, 0, 0.1)) drop-shadow(0 12px 16px rgba(0, 0, 0, 0.1))
  drop-shadow(0 16px 20px rgba(0, 0, 0, 0.1));
$elevation-shadow-7: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2))
  drop-shadow(0 12px 16px rgba(0, 0, 0, 0.1)) drop-shadow(0 16px 20px rgba(0, 0, 0, 0.1))
  drop-shadow(0 20px 24px rgba(0, 0, 0, 0.1));
$elevation-shadow-7: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2))
  drop-shadow(0 16px 20px rgba(0, 0, 0, 0.1)) drop-shadow(0 20px 24px rgba(0, 0, 0, 0.1))
  drop-shadow(0 24px 28px rgba(0, 0, 0, 0.1));

$elevation-z-index-1: 100;
$elevation-z-index-2: 200;
$elevation-z-index-3: 300;
$elevation-z-index-4: 400;
$elevation-z-index-5: 500;

/* TODO: better names? */
$time-animation-1: 88ms;
$time-animation-2: 133ms;
$time-animation-3: 200ms;
$time-animation-4: 300ms;

/* TODO: better names? */
$time-duration-1: cubic-bezier(0, 0, 0.2, 1);
$time-duration-2: cubic-bezier(0.4, 0.15, 1, 1);
$time-duration-3: cubic-bezier(0.4, 0.15, 0.2, 1);

// ======== Text ========
$title-lg-font-weight: $font-weight-strong;
$title-md-font-weight: $font-weight-strong;
$title-sm-font-weight: $font-weight-strong;
$title-xs-font-weight: $font-weight-strong;
$text-regular-font-weight: $font-weight-base;
$text-paragraph-font-weight: $font-weight-base;
$text-label-font-weight: $font-weight-base;
$text-smallprint-font-weight: $font-weight-base;

$title-lg-font-family: $font-family-base;
$title-md-font-family: $font-family-base;
$title-sm-font-family: $font-family-base;
$title-xs-font-family: $font-family-base;
$text-regular-font-family: $font-family-base;
$text-paragraph-font-family: $font-family-base;
$text-label-font-family: $font-family-base;
$text-smallprint-font-family: $font-family-base;

$title-lg-font-size: $font-size-7;
$title-md-font-size: $font-size-6;
$title-sm-font-size: $font-size-3;
$title-xs-font-size: $font-size-1;
$text-regular-font-size: $font-size-4;
$text-paragraph-font-size: $font-size-5;
$text-label-font-size: $font-size-3;
$text-smallprint-font-size: $font-size-1;

$title-lg-line-height: $spacing-8;
$title-md-line-height: $spacing-7;
$title-sm-line-height: $spacing-5;
$title-xs-line-height: $spacing-4;
$text-regular-line-height: $spacing-6;
$text-paragraph-line-height: $spacing-7;
$text-label-line-height: $spacing-5;
$text-smallprint-line-height: $spacing-4;

$title-lg-text-transform: uppercase;
$title-md-text-transform: uppercase;
$title-sm-text-transform: uppercase;
$title-xs-text-transform: uppercase;
$text-regular-text-transform: none;
$text-paragraph-text-transform: none;
$text-label-text-transform: none;
$text-smallprint-text-transform: none;
