@use '../utils';

@layer natu-card {
  .natu-card {
    @include utils.text-regular;

    background-color: var(--natu-color-surface-base);
    border-radius: var(--natu-control-border-radius);
    display: flex;
    filter: var(--natu-elevation-shadow-base);
    flex-direction: column;
    position: relative;

    &--embedded {
      filter: none;
    }
  }

  .natu-card__header {
    @include utils.title-md;

    align-items: center;
    block-size: var(--natu-size-spacing-15);
    display: flex;
    gap: var(--natu-size-spacing-2);
    padding-block: var(--natu-size-spacing-5);
    padding-inline: var(--natu-size-spacing-5);

    &--small {
      @include utils.title-sm;

      block-size: var(--natu-size-spacing-13);
      padding-block: var(--natu-size-spacing-4);
      padding-inline: var(--natu-size-spacing-5);
    }
  }

  .natu-card__header-icon {
    font-size: var(--natu-size-font-6);
  }

  .natu-card__dismiss {
    inset-block-start: var(--natu-size-spacing-2);
    inset-inline-end: var(--natu-size-spacing-2);
    position: absolute;
  }

  .natu-card__body {
    display: block;
    flex: 1;
    padding-block: var(--natu-size-spacing-5);
    padding-inline: var(--natu-size-spacing-5);
  }

  .natu-card__footer {
    align-items: center;
    block-size: var(--natu-size-spacing-15);
    display: flex;
    padding-block: var(--natu-size-spacing-5);
    padding-inline: var(--natu-size-spacing-5);

    &--small {
      block-size: var(--natu-size-spacing-13);
      padding-block: var(--natu-size-spacing-3);
      padding-inline: var(--natu-size-spacing-5);
    }

    &--with-divider {
      border-block-start: 1px solid var(--natu-color-border-base);
    }
  }
}
