@use '../utils';

/* TODO: dark mode shadow */

@layer popover {
  $-popover-background-color: var(--natu-color-surface-base);

  .natu-popover {
    display: block;
    filter: var(--natu-elevation-shadow-overlay);
    max-width: utils.px-to-rem(360px);
    z-index: var(--natu-elevation-z-index-overlay);
  }

  .natu-popover__arrow {
    fill: $-popover-background-color;
  }
}
