@use '../utils';

/* TODO: dark mode shadow */

@layer natu-tooltip {
  $-tooltip-background-color: var(--natu-color-surface-invert);

  .natu-tooltip {
    @include utils.control;
    @include utils.control--fluid;
    @include utils.text-label;

    background-color: $-tooltip-background-color;
    color: var(--natu-color-font-invert);
    display: block;
    filter: var(--natu-elevation-shadow-tooltip);
    max-width: utils.px-to-rem(360px);
    z-index: var(--natu-elevation-z-index-overlay);
  }

  .natu-tooltip__arrow {
    fill: $-tooltip-background-color;
  }
}
