@use 'utils';

@mixin styles {
  @layer base {
    :root {
      @each $breakpoint, $value in utils.$breakpoints {
        --natu-breakpoint-#{$breakpoint}: #{$value};
      }
    }

    *:focus-visible {
      @include utils.outline;
    }

    body {
      @include utils.text-body-1;

      background-color: var(--natu-color-surface-primary);
      color: var(--natu-color-text-primary);
    }

    ul,
    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
