@use 'utils';

@mixin styles {
  @layer base {
    body {
      @include utils.text-body-1;

      background-color: var(--natu-color-background-primary);
    }

    ul,
    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
