@use './utils/variables';
@use './utils/text';

@mixin styles {
  @layer typography {
    .#{#{variables.$prefix}-heading-1} {
      @include text.heading-1;
    }

    .#{#{variables.$prefix}-heading-2} {
      @include text.heading-2;
    }

    .#{#{variables.$prefix}-body-1} {
      @include text.body-1;
    }

    .#{#{variables.$prefix}-body-2} {
      @include text.body-2;
    }

    .#{#{variables.$prefix}-fluid-heading-1} {
      @include text.fluid-heading-1;
    }

    .#{#{variables.$prefix}-fluid-heading-2} {
      @include text.fluid-heading-2;
    }
  }
}
