:host {
  block-size: calc(100dvh - var(--natu-sticky-block-start, 0));
  display: block;
  inset-block: var(--natu-sticky-block-start, 0) 0;
  inset-inline-start: 0;
  position: sticky;
}

.sidebar {
  block-size: 100%;
}
