@use 'utils';

@layer base {
  html {
    height: 100%;
  }

  body {
    @include utils.text-regular;

    background-color: var(--natu-color-surface-primary);
    color: var(--natu-color-font-base);
    height: auto;
    min-height: 100%;
  }

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h1 {
    @include utils.title-lg;
  }

  h2 {
    @include utils.title-md;
  }

  h3 {
    @include utils.title-sm;
  }

  h4 {
    @include utils.title-xs;
  }

  svg {
    display: inline-block;
    fill: currentcolor;
    height: 1em;
    width: 1em;
  }
}
