@use 'sass:list';
@use './variables';
@use './functions';

$-fluid-rounding-interval: 4px;

@mixin -properties($name) {
  font-family: var(--#{$name}-font-family);
  font-weight: var(--#{$name}-font-weight);
  line-height: var(--#{$name}-line-height);
}

@mixin -fixed($name) {
  @include -properties(#{$name});

  font-size: var(--#{$name}-font-size);
}

@mixin -fluid($name) {
  @include -properties(#{$name});

  font-size: functions.fluid(
    $min: var(--#{$name}-font-size-min),
    $value: var(--#{$name}-font-size-value),
    $max: var(--#{$name}-font-size-max),
    $interval: $-fluid-rounding-interval
  );
}

@mixin heading-1 {
  @include -fixed($name: natu-heading-1);
}

@mixin heading-2 {
  @include -fixed($name: natu-heading-2);
}

@mixin body-1 {
  @include -fixed($name: natu-body-1);
}

@mixin body-2 {
  @include -fixed($name: natu-body-2);
}

@mixin fluid-heading-1 {
  @include -fluid($name: natu-fluid-heading-1);
}

@mixin fluid-heading-2 {
  @include -fluid($name: natu-fluid-heading-2);
}

@mixin fluid-heading-3 {
  @include -fluid($name: natu-fluid-heading-3);
}
