@use 'functions';

// TODO: add ui helper to view current breakpoint
// Change breakpoints to CSS vars once media queries support it
/// Phones (portrait)
$breakpoint-initial: functions.rem(0px);
/// Phones (landscape)
$breakpoint-xs: functions.rem(520px);
/// Tablets (portrait)
$breakpoint-sm: functions.rem(768px);
/// Tablets (landscape)
$breakpoint-md: functions.rem(1024px);
/// Laptops
$breakpoint-lg: functions.rem(1280px);
/// Desktops
$breakpoint-xl: functions.rem(1640px);
$breakpoints: (
  'initial': $breakpoint-initial,
  'xs': $breakpoint-xs,
  'sm': $breakpoint-sm,
  'md': $breakpoint-md,
  'lg': $breakpoint-lg,
  'xl': $breakpoint-xl,
);
