$prefix: 'natu';

// TODO: add ui helper to view current breakpoint
// Change breakpoints to CSS vars once media queries support it
$breakpoint-xs: 320px;
$breakpoint-sm: 672px;
$breakpoint-md: 1056px;
$breakpoint-lg: 1312px;
$breakpoint-xl: 1584px;
$breakpoints: (
  'xs': $breakpoint-xs,
  'sm': $breakpoint-sm,
  'md': $breakpoint-md,
  'lg': $breakpoint-lg,
  'xl': $breakpoint-xl,
);
