name: CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  HUSKY: 0
  PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
  TURBO_CACHE_DIR: .turbo
  # VRT_BROWSER: chromium

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Cache Turbo
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ${{ env.TURBO_CACHE_DIR }}
          key: turbo-${{ runner.os }}-${{ github.job }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ runner.os }}-${{ github.job }}

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: 'package.json'
          cache: 'pnpm'

      - name: Install dependencies
        # change to pnpm ci once it is implemented
        run: |
          pnpm i --frozen-lockfile --loglevel warn
          pnpm exec playwright install --with-deps chromium

      - name: Lint files
        run: pnpm run lint

      - name: Run tests
        run: pnpm run test

      - name: Build
        run: pnpm run build

  # vrt:
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 15

  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4
  #       with:
  #         lfs: 'true'

  #     - name: Pull LFS files
  #       run: git lfs pull

  #     - name: Cache Turbo
  #       uses: actions/cache@v4
  #       with:
  #         path: ${{ env.TURBO_CACHE_DIR }}
  #         key: turbo-${{ runner.os }}-${{ github.job }}-${{ github.sha }}
  #         restore-keys: |
  #           turbo-${{ runner.os }}-${{ github.job }}

  #     - name: Setup pnpm
  #       uses: pnpm/action-setup@v4

  #     - name: Use Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version-file: 'package.json'
  #         cache: 'pnpm'

  #     - name: Install dependencies
  #       # change to pnpm ci once it is implemented
  #       run: |
  #         pnpm i --frozen-lockfile --loglevel warn
  #         pnpm exec playwright install --with-deps ${{ env.VRT_BROWSER }}

  #     - name: Run tests
  #       run: pnpm run vrt

  #     - name: Upload report
  #       uses: actions/upload-artifact@v4
  #       if: failure()
  #       with:
  #         name: vrt-report
  #         path: |
  #           apps/*/vrt/report
  #           packages/*/vrt/report
  #         retention-days: 1

  # lighthouse:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Cache Turbo
  #       uses: actions/cache@v4
  #       with:
  #         path: ${{ env.TURBO_CACHE_DIR }}
  #         key: turbo-${{ runner.os }}-${{ github.job }}-${{ github.sha }}
  #         restore-keys: |
  #           turbo-${{ runner.os }}-${{ github.job }}

  #     - name: Setup pnpm
  #       uses: pnpm/action-setup@v4

  #     - name: Use Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version-file: 'package.json'
  #         cache: 'pnpm'

  #     - name: Install dependencies
  #       # change to pnpm ci once it is implemented
  #       run: |
  #         pnpm i --frozen-lockfile --loglevel warn
  #         pnpm exec playwright install --with-deps chromium

  #     - name: Perform lighthouse mobile audit
  #       run: pnpm lighthouse-mobile

  #     - name: Perform lighthouse desktop audit
  #       run: pnpm lighthouse-desktop

  #     - name: Upload reports
  #       uses: actions/upload-artifact@v4
  #       if: success() || failure()
  #       with:
  #         name: lighthouse-report
  #         path: apps/*/lighthouse-reports
  #         retention-days: 1

  # e2e:
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 15

  #   strategy:
  #     matrix:
  #       browser: [chromium, firefox, webkit]

  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4

  #     - name: Cache Turbo
  #       uses: actions/cache@v4
  #       with:
  #         path: ${{ env.TURBO_CACHE_DIR }}
  #         key: turbo-${{ runner.os }}-${{ github.job }}-${{ github.sha }}
  #         restore-keys: |
  #           turbo-${{ runner.os }}-${{ github.job }}

  #     - name: Setup pnpm
  #       uses: pnpm/action-setup@v4

  #     - name: Use Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version-file: 'package.json'
  #         cache: 'pnpm'

  #     - name: Install dependencies
  #       # change to pnpm ci once it is implemented
  #       run: |
  #         pnpm i --frozen-lockfile --loglevel warn
  #         pnpm exec playwright install --with-deps ${{ matrix.browser }}

  #     - name: Build
  #       run: pnpm run build
  #       env:
  #         VITE_E2E: true

  #     - name: Run tests
  #       run: pnpm run e2e --force --no-cache -- --project="${{ matrix.browser }}"

  #     - uses: actions/upload-artifact@v4
  #       if: success() || failure()
  #       with:
  #         name: e2e-report-${{ matrix.browser }}
  #         path: apps/*/e2e/report
  #         retention-days: 1
