@mixin title-lg {
  font-family: var(--natu-title-lg-font-family);
  font-size: var(--natu-title-lg-font-size);
  font-weight: var(--natu-title-lg-font-weight);
  line-height: var(--natu-title-lg-line-height);
  text-transform: var(--natu-title-lg-text-transform);
}

@mixin title-md {
  font-family: var(--natu-title-md-font-family);
  font-size: var(--natu-title-md-font-size);
  font-weight: var(--natu-title-md-font-weight);
  line-height: var(--natu-title-md-line-height);
  text-transform: var(--natu-title-md-text-transform);
}

@mixin title-sm {
  font-family: var(--natu-title-sm-font-family);
  font-size: var(--natu-title-sm-font-size);
  font-weight: var(--natu-title-sm-font-weight);
  line-height: var(--natu-title-sm-line-height);
  text-transform: var(--natu-title-sm-text-transform);
}

@mixin title-xs {
  font-family: var(--natu-title-xs-font-family);
  font-size: var(--natu-title-xs-font-size);
  font-weight: var(--natu-title-xs-font-weight);
  line-height: var(--natu-title-xs-line-height);
  text-transform: var(--natu-title-xs-text-transform);
}

@mixin text-regular {
  font-family: var(--natu-text-regular-font-family);
  font-size: var(--natu-text-regular-font-size);
  font-weight: var(--natu-text-regular-font-weight);
  line-height: var(--natu-text-regular-line-height);
  text-transform: var(--natu-text-regular-text-transform);
}

@mixin text-paragraph {
  font-family: var(--natu-text-paragraph-font-family);
  font-size: var(--natu-text-paragraph-font-size);
  font-weight: var(--natu-text-paragraph-font-weight);
  line-height: var(--natu-text-paragraph-line-height);
  text-transform: var(--natu-text-paragraph-text-transform);
}

@mixin text-label {
  font-family: var(--natu-text-label-font-family);
  font-size: var(--natu-text-label-font-size);
  font-weight: var(--natu-text-label-font-weight);
  line-height: var(--natu-text-label-line-height);
  text-transform: var(--natu-text-label-text-transform);
}

@mixin text-smallprint {
  font-family: var(--natu-text-smallprint-font-family);
  font-size: var(--natu-text-smallprint-font-size);
  font-weight: var(--natu-text-smallprint-font-weight);
  line-height: var(--natu-text-smallprint-line-height);
  text-transform: var(--natu-text-smallprint-text-transform);
}
